<div class="container">
  <div class="mainTop openTop">
    <div class="rotateBall">
      <div class="innerBall"></div>
      <div class="spinTop"></div>
    </div>
    <div class="ballTop"></div>
    <div class="beltTop innerShadow"></div>
  </div>
  <div class="screen">
    <nav>
      <span>Home</span>
      <span>About</span>
      <span>Gallery</span>
    </nav>
    <h1>Welcome to {{title}}</h1>
    <p>This site will allow any user to to dynamically search through documentation of the nursery's current inhabitants. To search the Pokedex, please select your criteria from the dropdown, then enter your query.</p>
    <div class="searchContain">
      <p id="instructions">To search by IV query must be entered as a range following this format without quotation: "30/40".</p>
      <span class="circleSearch" id="catSelect">select</span>
      <input class="query" type="text" placeholder="query"></input>
      <span class="circleGo" id="go">Go!</span>
    </div>
  </div>
  <div class="mainBottom openBottom">
    <div class="ballBottom ">
      <div class="buttonDivot"></div>
    </div>
    <div class="beltBottom"></div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>
