<div class="container">
  <div class="mainTop">
    <div class="ballTop"></div>
    <div class="beltTop"></div>
  </div>
    <div class="screen">
      <h1>Welcome to {{title}}</h1>
      <p>This site will allow any user to to dynamically search through documentation of the nursery's current inhabitants. To search the Pokedex, please follow the instructions below.</p>
      <ul>To search by criteria, append the corresponding data to your browser's URL without quotation.
        <li>To search by Name: "/NameYouAreSearchingFor"</li>
        <li>By Type e.g. Electric or Water: "/type/TypeYouAreLookingFor"</li>
        <li>By Species: "/species/SpeciesYouAreLookingFor"</li>
        <li>To search by IV, you must enter a range to search between: "/IV/30/40"</li>
      </ul>
    </div>
  <div class="mainBottom">
    <div class="ballBottom"></div>
    <div class="beltBottom"></div>
  </div>
</div>
