<div class="container">
  <div class="mainTop">
    <div class="ballTop"></div>
    <div class="beltTop"></div>
  </div>
  <div class="screen">
    <!-- <div class="findContain"></div> -->
    <nav>
      <span>Home</span>
      <span>About</span>
      <span>Gallery</span>
    </nav>
    <h1>Welcome to {{title}}</h1>
    <p>This site will allow any user to to dynamically search through documentation of the nursery's current inhabitants. To search the Pokedex, please select your criteria from the dropdown, then enter your query.</p>
    <div class="searchContain">
      <p id="insturctions">To search by please enter your query formated as a range following this format without quotation: "30/40".</p>
      <!-- <select class="dropdown" type="dropdown">
        <option value="" disabled selected hidden>-Select Criteria-</option>
        <option value="name">Name</option>
        <option value="type">Type</option>
        <option value="species">Species</option>
        <option value="IV">IVs</option>
      </select> -->
      <span class="circleSearch" id="catSelect">select</span>
      <input class="query" type="text" placeholder="query"></input>
      <span class="circleSearch" id="go">Go!</span>
    </div>
  </div>
  <div class="mainBottom">
    <div class="ballBottom"></div>
    <div class="beltBottom"></div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>
