@-webkit-keyframes pulse{
    0% { -webkit-transform: scale(1.0); }
  	50% { -webkit-transform: scale(1.06); }
  	100% { -webkit-transform: scale(1.0); }
}

.pulse{
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  border: .15vw solid grey;
  background-color: blue;
}

@-webkit-keyframes pulse1x{
    0% { -webkit-transform: scale(1.0); }
  	50% { -webkit-transform: scale(1.06); }
  	100% { -webkit-transform: scale(1.0); }
}

.pulse1x{
  -webkit-animation-name: pulse1x;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  border: .15vw solid grey;
}

@-webkit-keyframes openTop{
0%    { -webkit-transform: translate(0px, 10.75vw); }
0%    { box-shadow: none; }
75%   { -webkit-transform: translate(0px, 10.75vw); }
75%   { box-shadow: none; }
100%  { -webkit-transform: translate(0px, 0vw); }
}

.openTop{
  -webkit-animation-name: openTop;
  -webkit-animation-duration: 3s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes openBottom{
0%    { -webkit-transform: translate(0px, -10.75vw); }
75%   { -webkit-transform: translate(0px, -10.75vw); }
100%  { -webkit-transform: translate(0px, 0vw); }
}

.openBottom{
  -webkit-animation-name: openBottom;
  -webkit-animation-duration: 3s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateBall{
0%    { -webkit-transform: rotate(0deg) translate(0vw, 0vw); }
100%  { -webkit-transform: rotate(360deg) translate(0vw, 0vw);}
}

.rotateBall{
  -webkit-animation-name: rotateBall;
  -webkit-animation-duration: 2s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes innerShadow{
0%    { box-shadow: none; }
75%    { box-shadow: none; }
}

.innerShadow{
  -webkit-animation-name: innerShadow;
  -webkit-animation-duration: 2s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
