@-webkit-keyframes pulse{
    0% { -webkit-transform: scale(1.0); }
  	50% { -webkit-transform: scale(1.06); }
  	100% { -webkit-transform: scale(1.0); }
}

.pulse{
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  border: .15vw solid grey;
}
