body{
  font-size: 1.25vw;
}

h1{
  margin-top:0vw;
}

nav{
  display: flex;
  margin-bottom: .5vw;
  margin-left: .25vw;
}

nav > span{
  margin-right: 2.5vw
}

.mainTop{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  height:15vw;
  width:45vw;
  top:.5vw;
  background-image: url('../images/star-field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius:2em;
  border-top-left-radius:2em;
  box-shadow: 1vw 1vw .5vw #888888;
  z-index: 1;
}

.mainBottom{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  height:15vw;
  width:45vw;
  float: left;
  background-image: url('../images/horizon-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  box-shadow: 1vw 1vw .5vw #888888;
}

.ballTop{
  display: flex;
  height:12.5vw;
  width:25vw;
  background-color: red;
  border-radius:25vw 25vw 0vw 0vw;
  border-top:.5vw solid black;
  border-right:.5vw solid black;
  border-left:.5vw solid black;
}

.ballBottom{
  position:absolute;
  display: flex;
  height:12.5vw;
  width:25vw;
  background-color: white;
  border-radius:0vw 0vw 25vw 25vw;
  border-bottom:.5vw solid black;
  border-right:.5vw solid black;
  border-left:.5vw solid black;
  /*box-shadow: .11vw .1vw .11vw grey;*/
}

.rotateBall{
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top:12.75vw;
  height:5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: black;
  z-index:30;
}

.buttonDivot{
  display: flex;
  margin-left:10vw;
  position:absolute;
  display: flex;
  height:2.5vw;
  width:5vw;
  background-color: black;
  border-radius:0vw 0vw 25vw 25vw;
  /*box-shadow: .11vw .1vw .11vw grey;*/
}

.innerBall{
  display: flex;
  position: absolute;
  top:.5vw;
  margin-right: .25vw;
  height:3.9vw;
  width: 3.9vw;
  border: .1vw solid lightgrey;
  border-radius: 50%;
  background-color: white;
  z-index:30;
}

.spinTop{
  position:absolute;
  height:1vw;
  width:25.25vw;
  background-color:black;
  top:1.95vw;
  z-index:25;
}

.beltTop{
  position:absolute;
  height:1vw;
  width:45vw;
  background-color:black;
  top:14.65vw;
  box-shadow: .25vw .25vw .1vw #888888;
}

.beltBottom{
  height:1vw;
  width:45vw;
  background-color:black;
  top:36.65vw;
  z-index: 10;
}

.screen{
  height:20vw;
  width:40vw;
  background-color:lightblue;
  margin-top: 16vw;
  margin-left:1.85vw;
  opacity:.7;
  border-right:.15vw solid lightgrey;
  border-left:.15vw solid lightgrey;
  padding:.5vw;
  padding-bottom: .85vw;
}

.searchContain{
  margin-top: 1.75vw;
}

.findContain{
  position: absolute;
  height:2vw;
  width:40vw;
  background-color:lightblue;
  margin-left:45vw;
  opacity:.7;
  border-right:.15vw solid lightgrey;
  border-left:.15vw solid lightgrey;
  padding:.5vw;
  -webkit-transition: height 2s;
}

.dataContain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0;
}

.plaque{
  padding:.5vw;
  height:13vw;
  width:18vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #76bfd5;
  border: .15vw lightblue;
  border-right:groove;
  border-bottom: groove;
  border-top: ridge;
  border-left: ridge;
  border-radius: 1em;
  margin-top: .7vw;
  max-width: 100%;
  max-height: 100%
}

.circleNext, .circlePrev{
  display: flex;
  align-items: center;
  justify-content: center;
  height:3vw;
  width:3vw;
  border-radius: 50%;
  background-color: grey;
  opacity:.7;
  float:right;
  margin-top: 1vw;
  margin-right: .5vw;
}

.circleSearch{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height:3.65vw;
  width:3.65vw;
  float:left;
  border-radius: 50%;
  background-color: blue;
  color:lightgrey;
  opacity:.7;
  z-index: 1;
  -webkit-transform: scale .25s;
}

.circleGo{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height:3.65vw;
  width:3.65vw;
  border-radius: 50%;
  margin-left: 14.75vw;
  background-color: blue;
  color:lightgrey;
  opacity:.7;
  z-index: 1;
  -webkit-transform: scale .25s;
}

.circleNext:hover, .circlePrev:hover, .circleSearch:hover, .circleGo:hover{
  cursor:pointer;
}

input{
  height:1.25vw;
  width:9.5vw;
  float: left;
  margin-top:1vw;
  margin-left: 4.25vw;
  margin-right: .75vw;
}

.arrowRight{
  height:0;
  width:0;
  float:right;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw double lightgrey;
  opacity:.7;
  margin-left: .35vw
}

.arrowLeft{
  height:0;
  width:0;
  float:left;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-right: 1vw double lightgrey;
  opacity:.7;
  margin-right: .35vw
}

.arrowLeft:hover, .arrowRight:hover{
  cursor:pointer;
}
